<div class="container w-100">
   <div class="card">
      <!-- <app-alert></app-alert> -->
         <div class="log-in-title">
            <img src="assets\images\simpliKart.png" class="img-fluid logo-img" alt="">
            <h4>{{ 'forgot_password' | translate  }}</h4>
         </div>
         <div class="input-box">
             <form class="row g-4" [formGroup]="form" (ngSubmit)="onSubmitForm();">
               <div class="col-12">
                  <div class="form-floating theme-form-floating log-in-form">
                     <input type="text" class="form-control" id="email" formControlName="email" placeholder="{{ 'email_address' | translate}}" />
                     @if(form.controls['email'].touched && form.controls['email'].errors?.['required']) {
                        <div class="invalid-feedback">
                           {{'email_is_required' | translate}}
                        </div>
                     }
                     @if(form.controls['email'].touched && form.controls['email'].errors?.['email']) {
                        <div class="invalid-feedback">
                           {{'invalid_email' | translate}}
                        </div>
                     }
                  </div>
               </div>
               <div class="col-12">
                  <!-- <app-button [class]="'btn btn-theme w-100 justify-content-center'" [id]="'login_btn'">
                     {{ 'log_in' | translate }}
                  </app-button> -->
                  <button class="log-in-btn w-100 justify-content-center">{{'submit' | translate}}</button>
               </div>
            </form>
         </div>


   </div>
 </div>