<div class="container w-100">
   <!-- <div class="card" style="visibility: hidden;"> 
   </div> -->

   <div class="card">
      <!-- <app-alert></app-alert> -->
         <div class="log-in-title">
            <img src="assets\images\simpliKart.png" class="img-fluid logo-img" alt="">
            <h4>{{ 'update_password' | translate  }}</h4>
         </div>
         <div class="input-box">
             <form class="row g-4" [formGroup]="form" (ngSubmit)="onSubmitForm();">
               <div class="col-12">
                  <div class="form-floating theme-form-floating log-in-form">
                     <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="{{ 'new_password' | translate  }}" />
                     @if (form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['required']) {
                        <div class="invalid-feedback">
                           {{'new_password_is_required' | translate}}
                        </div>
                     }
                  </div>
               </div>
               <div class="col-12">
                  <div class="form-floating theme-form-floating log-in-form">
                     <input [type]="show ? 'text' : 'password'"  class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="{{ 'confirm_password' | translate  }}" />
                     @if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.['required']) {
                        <div class="invalid-feedback">
                           {{'confirm_password_is_required' | translate}}
                        </div>
                     }
                     <!-- @if(!form.controls['confirmPassword'].errors?.['required']) {
                        <div>
                           <div class="show-hide" (click)="showPassword()">
                              <span class="show" [ngClass]="show ? 'Hide' : 'show'"></span>
                           </div>
                        </div>
                     } -->
                  </div>
               </div>
               <div class="col-12">
                  <!-- <app-button [class]="'btn btn-theme w-100 justify-content-center'" [id]="'login_btn'">
                     {{ 'log_in' | translate }}
                  </app-button>
                  <div class="sign-up-box">
                     <h4>{{ 'dont_account' | translate }}</h4>
                     <a [routerLink]="['/auth/register']">{{ 'sign_up' |translate}}</a>
                  </div> -->
                  <button class="log-in-btn btn btn-theme w-100 justify-content-center">{{ 'submit' | translate }}</button>
                 </div>
            </form>
         </div>


   </div>
 </div>



