<!-- <p>otp works!</p> -->


<!-- <p>update-password works!</p> -->

<!-- <p>forgot-password works!</p> -->


<div class="main-card">
    <div class="row">
        <div class="main-box">
            <div class="main-title">
                <img src="assets/images/simpliKart2.png" class="img-fluid logo-img" alt="Logo Image">
                <h4 style="margin-top: 0px;">Enter OTP</h4>
            </div>
            <div class="input-box">
                <form class="row">
                    <div class="col-12">
                        <div class="form-floating theme-form-floating">
                            <input type="number" class="form-control" id="otp" formControlName="otp" placeholder="{{ 'otp'  }}" />
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- <app-button [class]="'btn btn-theme w-100 justify-content-center'" [id]="'login_btn'">
                           
                            {{ 'log_in' }}
                        </app-button> -->
                        <button class="main-btn"> {{'Validate-otp'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>