<!-- <p>layout works!</p> -->


<nav class="navbar">
    <div class="nav-container">
      <a href="index.html" class="nav-logo">MySite</a>
      <ul class="nav-menu">
        <li><a href="index.html" class="nav-link">Dashboard</a></li>
        <li><a href="about.html" class="nav-link">About</a></li>
        <li><a href="projects.html" class="nav-link">Projects</a></li>
        <li><a href="examples.html" class="nav-link">Examples</a></li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <h1>Welcome to the Dashboard</h1>
    <p>Your content goes here...</p>
  </div>